.login-container {
  text-align: center; 
  margin-top: 20px;
  font-size: 30px;
}

.login-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  transition: color 0.3s;

}

.login-link:hover {
  color: darkgreen;
  text-decoration: underline;
}


.navbar-main {
  background-color: white;
}
.nav-item .a:hover {
  color: white;
}

.shopping-icon {
  position: relative;
}

.cart-icon {
  position: relative; 
  display: inline-block;
}

.cart-icon i {
  font-size: 24px; 
}

.cart-count {
  background-color: red; 
  color: white; 
  border-radius: 50%; 
  padding: 2px 6px; 
  font-size: 12px; 
  position: absolute;
  top: -10px; 
  right: -10px; 
}
