<div class="container mt-5 about-page">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <h1 class="text-center mb-4">About Us</h1>
        <p class="lead text-center">
          The A Web Team is a dedicated group of innovative developers committed to delivering exceptional web solutions that exceed client expectations.
        </p>
      </div>
    </div>
  
    <div class="row my-5">
      <div class="col-md-6">
        <h2>Our Vision</h2>
        <p>
          At The A Web Team, our vision is to revolutionize the digital landscape by creating cutting-edge web solutions that empower businesses and enhance user experiences worldwide. We strive to be at the forefront of technology, fostering innovation and collaboration in every project we undertake.
        </p>
      </div>
      <div class="col-md-6">
        <img src="https://picsum.photos/400/300" alt="Random Image" class="img-fluid rounded">

    </div>
    </div>
  
    <div class="row my-5">
      <div class="col-md-6 order-md-2">
        <h2>Who We Are</h2>
        <p>
        The A Web Team is a dynamic group of passionate web developers and designers dedicated to crafting exceptional online experiences. With a blend of creativity and technical expertise, we specialize in building innovative websites and applications that meet the diverse needs of our clients.
        </p>
      </div>
      <div class="col-md-6 order-md-1">
        <img src="https://picsum.photos/400/300" alt="Random Image" class="img-fluid rounded">

    </div>
    </div>
  
    <div class="row my-5">
      <div class="col-md-6">
        <h2>Our Values</h2>
        <p>
          Integrity, innovation, collaboration, excellence, customer-centricity, continuous learning, creativity, accountability, respect, and a commitment to sustainable practices.
        </p>
      </div>
      <div class="col-md-6">
        <img src="https://picsum.photos/400/300" alt="Random Image" class="img-fluid rounded">

    </div>
    </div>
  
    <div class="text-center my-5">
      <h2>Get in Touch</h2>
      <p>
        For any inquiries or further information, feel free to visit our 
        <button (click)="navigateToContact()" class="btn btn-success">Contact</button> page.
      </p>
      
    </div>
  </div>
  