<div class="container-fluid d-flex justify-content-between align-items-center vh-100 shadow flex-column">
  <div class="d-flex justify-content-between align-items-start   w-100  ">
    <a class="navbar-brand text-success logo h1 m-3  " href="#">E-Shop</a>
    <a class="btn btn-outline-success m-3 " routerLink="/register">Register</a>
  </div>
  <form
    #loginForm="ngForm"
    (ngSubmit)="onLogin(loginForm)"
    class="border p-4 shadow rounded bg-light mb-4"
    style="width: 400px; height:500px;"
  >
    <h2 class="text-center mb-4">Login</h2>
    <div class="mb-3">
      <label for="email" class="form-label">Email </label>
      <input
        type="email"
        id="email"
        name="email"
        ngModel
        required
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        class="form-control"
        #email="ngModel"
      />
      <div class="alert alert-danger" [hidden]="email.valid || email.untouched">
        <small *ngIf="email.errors?.['required']">Email Required</small>
        <small *ngIf="email.errors?.['pattern']">Enter a valid Email</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Passward </label>
      <input
        type="password"
        id="password"
        name="password"
        ngModel
        required
        minlength="5"
        class="form-control"
        #password="ngModel"
      />
      <div class="alert alert-danger"   [hidden]="password.valid || password.untouched">
        <small  *ngIf="password.errors?.['required']">Invalid Password</small>
        <small *ngIf="password.errors?.['minlength']">Password Must Be More Than 5 Characters</small>
      </div>
    </div>
    <button type="submit" class="btn btn-success w-100 mt-5" >Login</button>
  </form>
</div>
