.container {
    background-color: #f8f9fa; 
    border-radius: 10px; 
  }
  
  form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  h2 {
    color: #055819; 
  }
  
  .ng-valid:not(form) {
    border-left:5px solid #055819;
  }
  .ng-invalid:not(form) {
    border-left:5px solid red;
  }

