<div class="container d-flex justify-content-center align-items-center vh-100 shadow">
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)"
    class="border p-4 shadow rounded bg-light" style="width: 700px;">
    <h2 class="text-center mb-4"> Register</h2>
    <div class="mb-3">
      <div class="forstAndLastName">
        <div class="forstNameOnly">
          <label for="first-name" >First Name</label>
          <input type="text" id="first-name" required class="form-control mb-2">
        </div>
        <div class="secondNameOnly">
          <label for="last-name">Last Name</label>
          <input type="text" id="last-name" required class="form-control mb-2">
        </div>
      </div>
      <label for="email" class="form-label">Email </label>
      <input
        type="text"
        id="email"
        name="email"
        ngModel
        required
        class="form-control"
        #email="ngModel" />
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
        class="text-danger">
        <div *ngIf="email.errors?.['required']">Email is required .</div>
        <div *ngIf="email.errors?.['pattern']"> Please enter a valid email
          address .</div>
      </div>
    </div>
    <div class="mb-2">
      <label for="password" class="form-label">Passward </label>
      <input
        type="password"
        id="password"
        name="password"
        ngModel
        required
        [(ngModel)]="password"
        minlength="3"
        class="form-control mb-2"
        #password="ngModel" />
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
        class="text-danger">
        <div *ngIf="password.errors?.['required']"> Password required .</div>
        <div *ngIf="password.errors?.['minlength']"> The password must be at
          least 3 numbers.</div>
        <div *ngIf="password.errors?.['pattern']"> The password must contain
          numbers only.</div>
      </div>
      <label for="password-confirmation" class="form-label">Passward Confirmation</label>
      <input
        type="password"
        id="password-confirmation"
        name="password-confirmation"
        ngModel
        [(ngModel)]="passwordConfirmation"
        required
        class="form-control mb-2"
        #passwordConfirmation="ngModel" />
        <div *ngIf="passwordConfirmation.touched && !passwordConfirmationValidation" class="text-danger" style="font-size: 10px;">
          Passwords do not match.
        </div>
    </div>
    <button type="submit" class="btn btn-success  w-100">Register </button>
  </form>
</div>
